/* Body styles */
body {
    background-color: #1c1c1e;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url('bg.jpg');
    background-position: relative;
    background-attachment: fixed;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  button[type="button"] {
    background-color: #ed1d25;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type="button"]:hover {
    background-color: #fff;
    color: #ed1d25;
  }
  
  /* Filter styles */
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    flex-direction: column;
  }

  
  select {
    margin-left: 10px;
  }
  
  /* Results styles */
  #search-results {
    margin-top: 50px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: underline;
    color: #ed1d25;
    
  }
  
 
  .logo2{
    height: 80px;
}
nav {
  background-color: #b7de05;
  overflow: hidden;
  margin-top: -10px;
  margin-right: 0px;
  position: fixed;
  width:99%;
  
}

nav a {
  float: right;
  color: #140e0e;
  text-align: center;
  padding: 18px 20px;
  font: weight 300px;;
  font-size: 30px;
}


.footer{
  background-color: #b7de05;
  color: rgb(7, 7, 7);
 padding-bottom: 0px;
}
.foot{
font-size: 23px;
}
.logos2{
  padding-top: 10px;
  height:60px;
  width: 500px;
  margin-left:450px;
  
}
.niche{
  color:rgb(9, 9, 9);
}
.niche:hover{
  color:blue;
}
.back{
  background-color: rgb(5, 164, 5);
  color: #f6f4f4;
  padding-bottom: 33px;
}
