<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="../static/about.css" />
  </head>
  <body>
    <header>
      <nav>
        <img src="../static/logo2.jpeg" class="logo2" />
        <a href="artists.html">Artists</a>
        <a href="about.html" class="about"><u>About</u></a>
        <a href="search.html">Search</a>
          <a href="spotlight.html">Artist Spotlight</a>
        <a href="home.html">Home</a>
      </nav>  
    </header>

    <div class="intro">
      <pre align="center">




                     "Welcome to "MUSICOHOLIC", your go-to destination for all things in music.
                  We're thrilled to have you here and can't wait to introduce you to our platform.     
             Our website provides a comprehensive music service designed to help you discover new music,
                 connect with other music lovers, and take your musical journey to the next level.
            Whether you're a fan, an artist, or simply someone who loves music,we're here to provide you
                     with a seamless, user-friendly experience that's tailored to your needs."


<pre style="font-size: 40px;"><b>                      MEET THE CREATORS</b> :</pre>
      </pre>
    </div>
    <br />
    <div class="creators">
      
    </div>
    <div class="creator1">
      <img src="../static/kevin.jpeg" class="kevin" alt="insert image" />
    </div>
    <div class="creator2">
      <img src="../static/sparsh.jpeg" class="sparsh" alt="insert image" />
    </div>
    <div class="name1">
      <pre align="left">

             KEVIN THAKKAR                        SPARSH GOEL
  (kevin.thakkar@students.iiit.ac.in)  (sparsh.goel@students.iiit.ac.in)    
</pre>
    </div>  
    <footer class="footer">
      <img src="../static/logo2.jpeg" class="logos2" />
      <p align="center" class="foot">Copyright @ 2023 Musicoholic.inc</p>
      <p align="center" class="foot">
        <a href="about.html" class="niche"><u>About us</u></a
        >| <u>Privacy</u>|
        <u>Security</u>
      </p>
    </footer>
    <script src="../static/about.js"></script>
  </body>

</html>
