<!-- <!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALBUM-1</title>
    <link rel="stylesheet" href="albums3.css">
</head>
<body>
    <nav>
        <a href="artists.html" class="album"><u>Albums</u></a>
        <a href="artists.html">Artists</a>
        <a href="about.html">About</a>
        <a href="home.html">Home</a>
      </nav>
     <img src="../static/image.webp" height="1000px" width="1448px">
     <div class="image-container">
		<img class="image" src="purpose.jpg" alt="Insert Image" />
	</div>

    
</body>
</html>
  -->






<!DOCTYPE html>
<html>

<head>

    <title>Ed Sheeran</title>
    <link rel="stylesheet" href="../static/albums2.css">
</head>

<body>
    <div class="back">
        <header>
            <nav>
                <img src="../static/logo2.jpeg" class="logo2" />
                <a href="artists.html">Artists</a>
                <a href="about.html">About</a>
                <a href="search.html">Search</a>
                <a href="spotlight.html">Artist Spotlight</a>
                <a href="home.html">Home</a>
            </nav>
        </header>
        <div class="purpose_image-container">
            <a href="divide_deluxe.html"><img class="purpose_image" src="../static/divide.jpg" alt="Insert Image" /></a>
        </div>
        <div class="purpose">
            <p align="center">
                <b><u><i style="font-size: 30px;">DIVIDE (DELUXE)</i></u></b></br>
                @ 16 SONGS</br>
                Release Year : 2017</br>
            </p>
        </div>



        <div class="Myworld2_image-container">
            <a href="=.html"><img class="Myworld2_image" src="../static/equal.webp" alt="Insert Image" /></a>
        </div>
        <div class="Myworld2">
            <p align="center">
                <b><u><i style="font-size: 30px;">=</i></u></b></br>
                @ 14 SONGS</br>
                Release Year : 2021</br>
            </p>
        </div>




        <div class="believe_image-container">
            <a href="no6.html"><img class="believe_image" src="../static/no.6.jpeg" alt="Insert Image" /></a>
        </div>
        <div class="believe">
            <p align="center">
                <b><u><i style="font-size: 30px;">NO.6 COLLABORATIONs PROJECT</i></u></b></br>
                @ 15 SONGS</br>
                Release Year : 2019</br>
            </p>
        </div>




        <div class="justice_image-container">
            <a href="X_deluxe.html"><img class="justice_image" src="../static/multiply.jpeg" alt="Insert Image" /></a>
        </div>
        <div class="justice">
            <p align="center">
                <b><u><i style="font-size: 30px;">X (DELUXE)</i></u></b></br>
                @ 16 SONGS</br>
                Release Year : 2014</br>
            </p>
        </div>




        <div class="under_image-container">
            <a href="+.html"><img class="under_image" src="../static/Plus.jpg" alt="Insert Image" /></a>
        </div>
        <div class="under">
            <p align="center">
                <b><u><i style="font-size: 30px;">+</i></u></b></br>
                @ 16 SONGS</br>
                Release Year : 2011</br>
            </p>
        </div>
        <br />
        </br>
        <br />
        <br />
        <footer class="footer">
            <img src="../static/logo2.jpeg" class="logos2" />
            <p align="center" class="foot">Copyright @ 2023 Musicoholic.inc</p>
            <p align="center" class="foot">
                <a href="about.html" class="niche"><u>About us</u></a>| <u>Privacy</u>|
                <u>Security</u>
            </p>
        </footer>
        <script src="../static/divide_deluxe.js"></script>
</body>

</html>