<!-- <!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALBUM-1</title>
    <link rel="stylesheet" href="albums3.css">
</head>
<body>
    <nav>
        <a href="artists.html" class="album"><u>Albums</u></a>
        <a href="artists.html">Artists</a>
        <a href="about.html">About</a>
        <a href="home.html">Home</a>
      </nav>
     <img src="../static/image.webp" height="1000px" width="1448px">
     <div class="image-container">
		<img class="image" src="purpose.jpg" alt="Insert Image" />
	</div>

    
</body>
</html>
  -->






<!DOCTYPE html>
<html>
<head>
  
	<title>Justin Beiber</title>
	<link rel="stylesheet" href="../static/albums3.css">
</head>
<body>
    <div class="back">
        <header>
            <nav>
              <img src="../static/logo2.jpeg" class="logo2" />
              <a href="artists.html">Artists</a>
              <a href="about.html">About</a>
              <a href="search.html">Search</a>
              <a href="spotlight.html">Artist Spotlight</a>
              <a href="home.html">Home</a>
            </nav>
          </header>
    <div class="purpose_image-container">
        <a href="purpose.html"><img class="purpose_image" src="../static/purpose.jpg" alt="Insert Image" /></a>
    </div>
        <div class="purpose">
           <p align="center"> 
            <b><u><i style="font-size: 30px;">PURPOSE (DELUXE)</i></u></b></br>
            @ 19 SONGS</br>
            Release Year : 2015</br>
           </p>
        </div>


 
        <div class="Myworld2_image-container">
            <a href="my_world.html"><img class="Myworld2_image" src="../static/Myworld2.jpg" alt="Insert Image" /></a>
        </div>
            <div class="Myworld2">
               <p align="center"> 
                <b><u><i style="font-size: 30px;">MY WORLD 2.0</i></u></b></br>
                @ 10 SONGS</br>
                Release Year : 2010</br>
               </p>
            </div>




            <div class="believe_image-container">
                <a href="believe.html"><img class="believe_image" src="../static/believe.jpg" alt="Insert Image" /></a>
            </div>
                <div class="believe">
                   <p align="center"> 
                    <b><u><i style="font-size: 30px;">BELIEVE</i></u></b></br>
                    @ 13 SONGS</br>
                    Release Year : 2012</br>
                   </p>
                </div>




                <div class="justice_image-container">
                    <a href="justice"><img class="justice_image" src="../static/Justice.webp" alt="Insert Image" /></a>
                </div>
                    <div class="justice">
                       <p align="center"> 
                        <b><u><i style="font-size: 30px;">JUSTICE</i></u></b></br>
                        @ 16 SONGS</br>
                        Release Year : 2021</br>
                       </p>
                    </div>




                    <div class="under_image-container">
                        <a href="under.html"><img class="under_image" src="../static/under.jpeg" alt="Insert Image" /></a>
                    </div>
                        <div class="under">
                           <p align="center"> 
                            <b><u><i style="font-size: 30px;">UNDER THE MISTLETOE</i></u></b></br>
                            @ 11 SONGS</br>
                            Release Year : 2011</br>
                           </p>
                        </div> 
                        <br/>
                    </br>
                    <br/>
                    <br/>
                    <footer class="footer">
                        <img src="../static/logo2.jpeg" class="logos2" />
                        <p align="center" class="foot">Copyright @ 2023 Musicoholic.inc</p>
                        <p align="center" class="foot">
                          <a href="about.html" class="niche"><u>About us</u></a
                          >| <u>Privacy</u>|
                          <u>Security</u>
                        </p>
                      </footer> 
 </div> 
 <script src="../static/divide_deluxe.js"></script>

</body>
</html>
