<!DOCTYPE html>
<html>

<head>
  <title>ARTISTS PAGE</title>
  <link rel="stylesheet" href="../static/artists.css" />
</head>

<body class="fade-in">
  <nav>
    <img src="../static/logo2.jpeg" class="logo2">
    <a href="artists.html" class="artists"><u>Artists</u></a>
    <a href="about.html">About</a>
    <a href="search.html">Seach</a>
    <a href="spotlight.html">Artist Spotlight</a>

    <a href="home.html">Home</a>
  </nav>
  <div class="section1">
    <div class="ts">
      <img src="../static/ts.jpeg" align="right" height="400" width="600" />
    </div>
    <p align="left">
    <div class="number-1">
      <b>#1</b>
      <div class="ts1">
        <a href="albums1.html" alt="Click here to view the album"><u>
            <pre>TAYLOR SWIFT</pre>
          </u></a>

        <div id="quote1">
        </div>
      </div>
    </div>
    </p>


  </div>

  <div class="section2">
    <div class="sheeren">
      <img src="../static/sheeren.jpeg" algin="left" height="400" width="600" />
    </div>
    <p align="left">
    <div class="number-2">
      <b>#2</b>
      <div class="sheeren1">
        <a href="albums2.html" alt="Click here to view the album"><u>
            <pre>ED SHEERAN</pre>
          </u></a>

        <div id="quote2">
          "Be Original; Don't be scared of Being Bold!"
        </div>
      </div>
    </div>
    </p>


  </div>
  <div class="section3">
    <div class="bts">
      <img src="../static/bts.jpeg" align="right" height="400" width="600" />
    </div>
    <p align="left">
    <div class="number-3">
      <b>#3</b>
      <div class="bts1">
        <a href="albums4.html" alt="Click here to view the album"><u>
            <pre>BTS ARMY</pre>
          </u></a>

        <div id="quote3">
          "Teamwork makes the dream work!"
        </div>
      </div>
    </div>
    </p>


  </div>
  <div class="section4">
    <div class="jb">
      <img src="../static/jb.jpeg" algin="left" height="400" width="700">
    </div>
    <p align="left">
    <div class="number-4">
      <b>#4</b>
      <div class="jb1">
        <a href="albums3.html" alt="Click here to view the album"><u>
            <pre>JUSTIN BIEBER</pre>
          </u></a>

        <div id="quote4">
          "You can't fly unless you let yourself fall!"
        </div>
      </div>
    </div>
    </p>


  </div>
  <div class="section5">
    <div class="lipa">
      <img src="../static/lipa.jpg" align="right" height="400" width="680" />
    </div>
    <p align="left">
    <div class="number-5">
      <b>#5</b>
      <div class="lipa1">
        <a href="albums5.html" alt="Click here to view the album"><u>
            <pre>DUA LIPA</pre>
          </u></a>

        <div id="quote5">
          "Success to me, is just doing things that I'm really proud of!"
        </div>
      </div>
    </div>
    </p>


  </div>
  <footer class="footer">
    <img src="../static/logo2.jpeg" class="logos1">
    <p align="center" class="foot">
      Copyright @ 2023 Musicoholic.inc
    </p>
    <p align="center" class="foot">
      <a href="about.html" class="niche"><u>About us</u></a>|
      <u>Privacy</u>|
      <u>Security</u>
    </p>
  </footer>
<script src="../static/artists.js"></script>
<script src="../static/typing.js"></script>

</body>

</html> 