<!-- <!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALBUM-1</title>
    <link rel="stylesheet" href="albums3.css">
</head>
<body>
    <nav>
        <a href="artists.html" class="album"><u>Albums</u></a>
        <a href="artists.html">Artists</a>
        <a href="about.html">About</a>
        <a href="home.html">Home</a>
      </nav>
     <img src="../static/image.webp" height="1000px" width="1448px">
     <div class="image-container">
		<img class="image" src="../static/purpose.jpg" alt="Insert Image" />
	</div>

    
</body>
</html>
  -->

<!DOCTYPE html>
<html>
  <head>
    <title>JUSTIN BEIBER</title>
    <link rel="stylesheet" href="../static/home.css" />
  </head>
  <body>
    <div class="back">
      <header>
        <nav>
          <img src="../static/logo2.jpeg" class="logo2" />
          <a href="artists.html">Artists</a>
          <a href="/about">About</a>
          <a href="search.html">Search</a>
          <a href="spotlight.html">Artist Spotlight</a>

          <a href="/home" class="home">Home</a>
        </nav>
      </header>
      <!-- <div class="top1">
        <p align="left">
        <u>TOP ARTISTS</u>
        </p>
      </div> -->


      <div class="img1_container">
        <a href="albums3.html"><img class="img1" src="../static/jb.jpeg" alt="Insert Image" /></a>
      </div>
      <div class="top1">
        <p align="center">
        <u ><b>TOP<br/>ARTISTS</b></u>
        </p>
      </div>
      <div class="jb">
        <p >Justin Bieber</p>
      </div>



      <div class="img2_container">
        <a href="albums1.html"> <img class="img2" src="../static/ts.jpeg" alt="Insert Image" /></a>
      </div>
      <div class="ts">
        <p >Taylor Swift</p>
      </div>


      <div class="img3_container">
        <a href="albums2.html"><img class="img3" src="../static/sheeren.jpeg" alt="Insert Image" /></a>
      </div>
      <div class="ed">
        <p >Ed Sheeran</p>
      </div>




      <div class="img4_container">
        <a href="divide_deluxe.html"><img class="img4" src="../static/divide.jpg" alt="Insert Image" /></a>
      </div>
      <div class="top2">
        <p align="center">
        <u ><b>TOP<br/>ALBUMS</b></u>
        </p>
      </div>
      <div class="divide">
        <p >Divide Deluxe (By:Ed Sheeran)</p>
      </div>



      <div class="img5_container">
        <a href="justice.html"><img class="img5" src="../static/Justice.webp" alt="Insert Image" /></a>
      </div>
      <div class="justice">
        <p >Justice (By:Justin Beiber)</p>
      </div>


      <div class="img6_container">
        <a href="reputation.html"><img class="img6" src="../static/reputation.jpg" alt="Insert Image" /></a>
      </div>
      <div class="reputation">
        <p >Reputation (By:Taylor Swift)</p>
      </div>




      <div class="img7_container">
        <img class="img7" src="../static/perfect.jpg" alt="Insert Image" />
      </div>
      <div class="top3">
        <p align="center">
        <u ><b>TOP<br/>SONGS</b></u>
        </p>
      </div>
      <div class="perfect">
        <p >Perfect (By:Ed Sheeran)</p>
      </div>



      <div class="img8_container">
        <img class="img8" src="../static/baby.jpg" alt="Insert Image" />
      </div>
      <div class="baby">
        <p >Baby (By:Justin Beiber)</p>
      </div>


      <div class="img9_container">
        <img class="img9" src="../static/look.png" alt="Insert Image" />
      </div>
      <div class="look">
        <p align="center">Look What You Made Me Do <br/>(By:Taylor Swift)</p>
      </div>

      <!-- <div class="top2">
        <p align="left">
          <u>TOP ALBUMS</u>
        </p>
      </div>
      <div class="img4_container">
        <img class="img4" src="../static/sheeren-05.jpeg" alt="Insert Image" />
      </div>
      <div class="img5_container">
        <img class="img5" src="../static/jb-01.jpeg" alt="Insert Image" />
      </div>
      <div class="img6_container">
        <img class="img6" src="../static/bts-05.jpeg" alt="Insert Image" />
      </div>

      <p align="left" class="top3">
        <u>TOP SONGS</u>
      </p>
      <div class="img7_container">
        <img class="img7" src="../static/lipa-03.jpeg" alt="Insert Image" />
      </div>
      <div class="img8_container">
        <img class="img8" src="../static/ts-05.jpeg" alt="Insert Image" />
      </div>
      <div class="img9_container">
        <img class="img9" src="../static/bts-04.jpeg" alt="Insert Image" />
      </div> -->
      <br/>
    </br>
    <br/>
    <br/>
    <footer class="footer">
        <img src="../static/logo2.jpeg" class="logos2" />
        <p align="center" class="foot">Copyright @ 2023 Musicoholic.inc</p>
        <p align="center" class="foot">
          <a href="/about" class="niche"><u>About us</u></a
          >| <u>Privacy</u>|
          <u>Security</u>
        </p>
      </footer>
    </div>
    <script src="../static/home.js"></script>
  </body>
</html>
