
<!DOCTYPE html>
<html>

<head>

  <title>TALOR SWIFT</title>
  <link rel="stylesheet" href="../static/lover.css">
</head>

<body>
  <div class="mp4-background">
    <video autoplay muted loop>
      <source src="../static/gif.mp4" type="video/mp4">
    </video>
    <div class="purpose_image-container">
      <header>
        <nav>
          <img src="../static/logo2.jpeg" class="logo2" />
          <a href="artists.html">Artists</a>
          <a href="about.html">About</a>
          <a href="search.html">Search</a>
          <a href="spotlight.html">Artist Spotlight</a>
          <a href="home.html">Home</a>
        </nav>
      </header>
      <img class="purpose_image" src="../static/lover.jpg" alt="Insert Image" />
      <p align="center" style="color: aliceblue; font-family: cursive ;font-size: 50px;padding-top: 360px;">
        <br /> <u><i><b>LOVER</b></i></u>
      </p>


      <div class="container">

        <div class="item1">
          <div>
            <pre
              style="font-family: cursive;font-size: 30px;">  1. Lover                                                                                                                              3:40</pre>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="item2">
          <pre
            style="font-family: cursive;font-size: 30px;">  2. False God                                                                                                        3:19</pre>
        </div>
      </div>
      <div class="container">
        <div class="item3">
          <pre
            style="font-family: cursive;font-size: 30px;">  3. Death By A Thousand Cuts                                                            3:18</pre>
        </div>
      </div>
      <div class="container">
        <div class="item4">
          <pre
            style="font-family: cursive;font-size: 30px;">  4. Soon You'll Get Better                                                      3:21</pre>
        </div>
      </div>
      <div class="container">
        <div class="item5">
          <pre
            style="font-family: cursive;font-size: 30px;">  5. Afterglow                                                          3:43</pre>
        </div>
      </div>
      <br />
      </br>
      <br />
      <br />
      <footer class="footer">
        <img src="../static/logo2.jpeg" class="logos2" />
        <p align="center" class="foot">Copyright @ 2023 Musicoholic.inc</p>
        <p align="center" class="foot">
          <a href="about.html" class="niche"><u>About us</u></a>| <u>Privacy</u>|
          <u>Security</u>
        </p>
      </footer>
    </div>
  </div>
  <script src="../static/divide_deluxe.js"></script>
</body>

</html>