<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WELCOME PAGE</title>
    <link rel="stylesheet" type="text/css" href="../static/welcome.css" />
  </head>
  <body>
 
    <marquee scrollamount="15" behaviour="scroll" direction="left"> <font color="white" size="1000">WELCOME TO OUR WEBPAGE</font></marquee>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <center><h1 style="font-size:10vw;color: rgb(250, 249, 250);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">MUSICOHOLICS</h1></center> 
    <br/>
    <br/>
    <br/>
    <br/>
    <center><button class="button"><a href="/about">WELCOME</a></button></center>
  </body>
</html>
